In [1]:
#Empty List
my_list = []
print(my_list)

[]

In [1]:
#creating list with numbers
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [11,12,13,14,14,15,16,17,18,19,20]
list3 = [11,22,33,44,55,66,77,88,99]
list4 = [10,20,30,40,50,60,70,80,90]
print(list3[0])
print(list1[-1])
print(list4[6])
print(list2[-9])

#creating list with strings
batch_1 = ["vasu","kittu","pranay","lokesh","shiva"]
batch_2 = ["kavya","khyathi","bhavana","bhavya","kajal"]
batch_3 = ["gopal","chandhu","aniketh","manoj","vardhan"]
batch_4 = ["raju","ramesh","suresh","bheem","akhil"]
print(batch_1[0])
print(batch_2[-1])
print(batch_3[-4])
print(batch_4[3])

11
10
70
13
vasu
kajal
chandhu
bheem

In [150]:
#Slicing (numbers)
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [11,12,13,14,14,15,16,17,18,19,20]
list3 = [11,22,33,44,55,66,77,88,99]
list4 = [10,20,30,40,50,60,70,80,90]
print(list1[1:5])
print(list3[2:9])
print(list2[1:3])
print(list4[-9:-2])

#slicing (strings)
batch_1 = ["vasu","kittu","pranay","lokesh","shiva"]
batch_2 = ["kavya","khyathi","bhavana","bhavya","kajal"]
batch_3 = ["gopal","chandhu","aniketh","manoj","vardhan"]
batch_4 = ["raju","ramesh","suresh","bheem","akhil"]
print(batch_1[2:4])
print(batch_2[3:5])
print(batch_3[-4:-1])
print(batch_4[-5:4])

[2, 3, 4, 5]
[33, 44, 55, 66, 77, 88, 99]
[12, 13]
[10, 20, 30, 40, 50, 60, 70]
['pranay', 'lokesh']
['bhavya', 'kajal']
['chandhu', 'aniketh', 'manoj']
['raju', 'ramesh', 'suresh', 'bheem']

In [83]:
#list Operators
#1) Concatenation
print(list1 + list2)
print(list3 + list4)
print(batch_1 + batch_2)
print(batch_3 + batch_4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 14, 15, 16, 17, 18, 19, 20]
[11, 22, 33, 44, 55, 66, 77, 88, 99, 10, 20, 30, 40, 50, 60, 70, 80, 90]
['vasu', 'kittu', 'pranay', 'lokesh', 'shiva', 'kavya', 'khyathi', 'bhavana', 'bhavya', 'kajal']
['gopal', 'chandhu', 'aniketh', 'manoj', 'vardhan', 'raju', 'ramesh', 'suresh', 'bheem', 'akhil']

In [99]:
#2) Repetition
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [11,12,13,14,14,15,16,17,18,19,20]
list3 = [11,22,33,44,55,66,77,88,99]
list4 = [10,20,30,40,50,60,70,80,90]
print(list1 * 3)
print(list2 * 2)
print(list3 * 7)
print(list4 * 0)
batch_1 = ["vasu","kittu","pranay","lokesh","shiva"]
batch_2 = ["kavya","khyathi","bhavana","bhavya","kajal"]
batch_3 = ["gopal","chandhu","aniketh","manoj","vardhan"]
batch_4 = ["raju","ramesh","suresh","bheem","akhil"]
print(batch_1 * 4)
print(batch_2 * 1)
print(batch_3 * 5)
print(batch_4 * 10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 14, 15, 16, 17, 18, 19, 20, 11, 12, 13, 14, 14, 15, 16, 17, 18, 19, 20]
[11, 22, 33, 44, 55, 66, 77, 88, 99, 11, 22, 33, 44, 55, 66, 77, 88, 99, 11, 22, 33, 44, 55, 66, 77, 88, 99, 11, 22, 33, 44, 55, 66, 77, 88, 99, 11, 22, 33, 44, 55, 66, 77, 88, 99, 11, 22, 33, 44, 55, 66, 77, 88, 99, 11, 22, 33, 44, 55, 66, 77, 88, 99]
[]
['vasu', 'kittu', 'pranay', 'lokesh', 'shiva', 'vasu', 'kittu', 'pranay', 'lokesh', 'shiva', 'vasu', 'kittu', 'pranay', 'lokesh', 'shiva', 'vasu', 'kittu', 'pranay', 'lokesh', 'shiva']
['kavya', 'khyathi', 'bhavana', 'bhavya', 'kajal']
['gopal', 'chandhu', 'aniketh', 'manoj', 'vardhan', 'gopal', 'chandhu', 'aniketh', 'manoj', 'vardhan', 'gopal', 'chandhu', 'aniketh', 'manoj', 'vardhan', 'gopal', 'chandhu', 'aniketh', 'manoj', 'vardhan', 'gopal', 'chandhu', 'aniketh', 'manoj', 'vardhan']
['raju', 'ramesh', 'suresh', 'bheem', 'akhil', 'raju', 'ramesh', 'suresh', 'bheem', 'akhil', 'raju', 'ramesh', 'suresh', 'bheem', 'akhil', 'raju', 'ramesh', 'suresh', 'bheem', 'akhil', 'raju', 'ramesh', 'suresh', 'bheem', 'akhil', 'raju', 'ramesh', 'suresh', 'bheem', 'akhil', 'raju', 'ramesh', 'suresh', 'bheem', 'akhil', 'raju', 'ramesh', 'suresh', 'bheem', 'akhil', 'raju', 'ramesh', 'suresh', 'bheem', 'akhil', 'raju', 'ramesh', 'suresh', 'bheem', 'akhil']

In [156]:
#methods
#1) append()
list_1 = [1,2,3,4,5,6,7,8,9,10]
list_1.append(11)
print(list_1)
list_2 = [11,12,13,14,14,15,16,17,18,19,20]
list_2.append(21)
print(list_2)
batch_1 = ["vasu","kittu","pranay","lokesh","shiva"]
batch_1.append("mahi")
print(batch_1)
batch_2 = ["kavya","khyathi","bhavana","bhavya","kajal"]
batch_2.append("sindhu")
print(batch_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[11, 12, 13, 14, 14, 15, 16, 17, 18, 19, 20, 21]
['vasu', 'kittu', 'pranay', 'lokesh', 'shiva', 'mahi']
['kavya', 'khyathi', 'bhavana', 'bhavya', 'kajal', 'sindhu']

In [154]:
#2)extend()
list3 = [11,22,33,44,55,66,77,88,99]
more_numbers = (100,101,102)
list3.extend(more_numbers)
print(list3)
list4 = [10,20,30,40,50,60,70,80,90]
more_numbers = (91,92,93,94,95)
list4.extend(more_numbers)
print(list4)
batch_3 = ["gopal","chandhu","aniketh","manoj","vardhan"]
more_names = ("abc","bcd","def")
batch_3.extend(more_names)
print(batch_3)
batch_4 = ["raju","ramesh","suresh","bheem","akhil"]
more_names = ("ABC","BCD","CDE")
batch_4.extend(more_names)
print(batch_4)

[11, 22, 33, 44, 55, 66, 77, 88, 99, 100, 101, 102]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 91, 92, 93, 94, 95]
['gopal', 'chandhu', 'aniketh', 'manoj', 'vardhan', 'abc', 'bcd', 'def']
['raju', 'ramesh', 'suresh', 'bheem', 'akhil', 'ABC', 'BCD', 'CDE']

In [160]:
#3)Insert
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [11,12,13,14,14,15,16,17,18,19,20]
list3 = [11,22,33,44,55,66,77,88,99]
list4 = [10,20,30,40,50,60,70,80,90]
list1.insert(1,2)
print(list1)
list2.insert(15,16)
print(list2)
list3.insert(22,40)
print(list3)
list4.insert(30,32)
print(list4)

[1, 2, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 14, 15, 16, 17, 18, 19, 20, 16]
[11, 22, 33, 44, 55, 66, 77, 88, 99, 40]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 32]

In [168]:
#4) remove
list1 = [1,2,3,4,5,6,7,8,9,5,5,10]
list2 = [11,12,13,14,14,15,16,17,18,19,20]
list1.remove(5)
print(list1)
list2.remove(14)
print(list2)
batch_1 = ["vasu","kittu","pranay","lokesh","shiva"]
batch_2 = ["kavya","khyathi","bhavana","bhavya","kajal"]
batch_1.remove("shiva")
print(batch_1)
batch_2.remove("kajal")
print(batch_2)

[1, 2, 3, 4, 6, 7, 8, 9, 5, 5, 10]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
['vasu', 'kittu', 'pranay', 'lokesh']
['kavya', 'khyathi', 'bhavana', 'bhavya']

In [185]:
#5) Pop()
list3 = [11,22,33,44,55,66,77,88,99]
list4 = [10,20,30,40,50,60,70,80,90]
poped_element = list3.pop(2)
print(list3)
print(poped_element)
poped_element = list4.pop(7)
print(list4)
print(poped_element)

batch_3 = ["gopal","chandhu","aniketh","manoj","vardhan"]
batch_4 = ["raju","ramesh","suresh","bheem","akhil"]
poped_element = batch_3.pop(4)
print(batch_3)
print(poped_element)
poped_element = batch_4.pop(2)
print(batch_4)
print(poped_element)

[11, 22, 44, 55, 66, 77, 88, 99]
33
[10, 20, 30, 40, 50, 60, 70, 90]
80
['gopal', 'chandhu', 'aniketh', 'manoj']
vardhan
['raju', 'ramesh', 'bheem', 'akhil']
suresh

In [199]:
#6) Index
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [11,12,13,14,14,15,16,17,18,19,20]
index = list1.index(7)
print(index)
index = list2.index(20)
print(index)

batch_1 = ["vasu","kittu","pranay","lokesh","shiva"]
batch_2 = ["kavya","khyathi","bhavana","bhavya","kajal"]
index = batch_1.index("lokesh")
print(index)
index = batch_2.index("kavya")
print(index)

6
10
3
0

In [215]:
#7)count
list3 = [11,22,33,44,55,11,66,77,88,99]
list4 = [10,20,30,40,50,60,70,80,90]
count = list3.count(11)
print(count)
count = list4.count(90)
print(count)
batch_1 = ["vasu","kittu","kittu","pranay","lokesh","kittu","shiva"]
batch_2 = ["kavya","khyathi","bhavana","bhavya","kajal","bhavana","bhavana","bhavana"]
count = batch_1.count("kittu")
print(count)
count = batch_2.count("bhavana")
print(count)

2
1
3
4

In [229]:
#8) Sort
list1 = [9,8,7,6,5,4,3,2,1]
list1.sort()
print(list1)
list2 = [99,77,66,55,44,33,88,11,22]
list2.sort()
print(list2)
batch_1 = ["vasu","kittu","pranay","lokesh","shiva"]
batch_2 = ["kavya","khyathi","bhavana","bhavya","kajal"]
batch_1.sort()
batch_2.sort()
print(batch_1)
print(batch_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[11, 22, 33, 44, 55, 66, 77, 88, 99]
['kittu', 'lokesh', 'pranay', 'shiva', 'vasu']
['bhavana', 'bhavya', 'kajal', 'kavya', 'khyathi']

In [237]:
#9) reverse
list3 = [11,22,33,44,55,66,77,88,99]
list4 = [10,20,30,40,50,60,70,80,90]
list3.reverse()
print(list3)
list4.reverse()
print(list4)

batch_3 = ["gopal","chandhu","aniketh","manoj","vardhan"]
batch_4 = ["raju","ramesh","suresh","bheem","akhil"]
batch_3.reverse()
print(batch_3)
batch_4.reverse()
print(batch_4)

[99, 88, 77, 66, 55, 44, 33, 22, 11]
[90, 80, 70, 60, 50, 40, 30, 20, 10]
['vardhan', 'manoj', 'aniketh', 'chandhu', 'gopal']
['akhil', 'bheem', 'suresh', 'ramesh', 'raju']