In [3]:
#ordered,immutable
#creating empty tuple
empty_tuple = ()
empty_tuple

()

In [44]:
#creating a tuple
names = ("koushik","lokesh","vamsi","sheshidhar","saiteja")
print(names)
print(type(names))

Bikes = ("ktm","suzuki","honda","shine")
print(Bikes)

mixed_tuple1 = ("banana",2.32,"bikes",453)
print(mixed_tuple1)

mixed_tuple2 = (True , False , "apple" , 2.45)
print(mixed_tuple2)

batch_1 = ("vasu","kittu","pranay","lokesh","shiva")
print(batch_1)

batch_2 = ("kavya","khyathi",11.32,"bhavana","bhavya","kaal")
print(batch_2)

batch_3 = ("gopal","chandhu","aniketh",True,"manoj","varhan")
print(batch_3)

batch_4 = (32,)
print(type(batch_4))
print(batch_4)

batch_5 = ("sri","vardhan","vinith",22222,"prakash","raju")
print(batch_5)

abc = ("kight")
print(abc)

('koushik', 'lokesh', 'vamsi', 'sheshidhar', 'saiteja')
<class 'tuple'>
('ktm', 'suzuki', 'honda', 'shine')
('banana', 2.32, 'bikes', 453)
(True, False, 'apple', 2.45)
('vasu', 'kittu', 'pranay', 'lokesh', 'shiva')
('kavya', 'khyathi', 11.32, 'bhavana', 'bhavya', 'kaal')
('gopal', 'chandhu', 'aniketh', True, 'manoj', 'varhan')
<class 'tuple'>
(32,)
('sri', 'vardhan', 'vinith', 22222, 'prakash', 'raju')
kight

In [62]:
#Accessing of tuples
#indexing of tuples
names = ("koushik","lokesh","vamsi","sheshidhar","saiteja")
Bikes = ("ktm","suzuki","honda","shine")
mixed_tuple1 = ("banana",2.32,"bikes",453)
mixed_tuple2 = (True , False , "apple" , 2.45)
batch_1 = ("vasu","kittu","pranay","lokesh","shiva")
batch_2 = ("kavya","khyathi",11.32,"bhavana","bhavya","kaal")
batch_3 = ("gopal","chandhu","aniketh",True,"manoj","varhan")
batch_4 = (32,)
batch_5 = ("sri","vardhan","vinith",22222,"prakash","raju")
abc = ("kight")
print(names[2])
print(Bikes[3])
print(mixed_tuple1[1])
print(mixed_tuple2[3])
print(batch_1[2])
print(batch_2[0])
print(batch_3[3])
print(batch_4[0])
print(batch_5[2])
print(abc[4])

##Slicing of tuples
names = ("koushik","lokesh","vamsi","sheshidhar","saiteja")
Bikes = ("ktm","suzuki","honda","shine")
mixed_tuple1 = ("banana",2.32,"bikes",453)
mixed_tuple2 = (True , False , "apple" , 2.45)
batch_1 = ("vasu","kittu","pranay","lokesh","shiva")
batch_2 = ("kavya","khyathi",11.32,"bhavana","bhavya","kaal")
batch_3 = ("gopal","chandhu","aniketh",True,"manoj","varhan")
batch_4 = (32,)
batch_5 = ("sri","vardhan","vinith",22222,"prakash","raju")
abc = ("kight")
print(names[2 : 4])
print(Bikes[0 : 2])
print(mixed_tuple1[2 : 5])
print(mixed_tuple2[-3 : 0])
print(batch_1[2 : 4])
print(batch_2[0 : 2])
print(batch_3[2 : 5])
print(batch_4[0 : ])
print(batch_5[ : 2])
print(abc[4 : ])

vamsi
shine
2.32
2.45
pranay
kavya
True
32
vinith
t
('vamsi', 'sheshidhar')
('ktm', 'suzuki')
('bikes', 453)
()
('pranay', 'lokesh')
('kavya', 'khyathi')
('aniketh', True, 'manoj')
(32,)
('sri', 'vardhan')
t

In [64]:
#immutability (cannot change or modify)
names = ("koushik","lokesh","vamsi","sheshidhar","saiteja")
names[0] = "raghu"
print(names)

TypeError: 'tuple' object does not support item assignment

In [80]:
#Tuple Operations
#1) Concatination
names = ("koushik","lokesh","vamsi","sheshidhar","saiteja")
Bikes = ("ktm","suzuki","honda","shine")
mixed_tuple1 = ("banana",2.32,"bikes",453)
mixed_tuple2 = (True , False , "apple" , 2.45)
batch_1 = ("vasu","kittu","pranay","lokesh","shiva")
batch_2 = ("kavya","khyathi",11.32,"bhavana","bhavya","kaal")
batch_3 = ("gopal","chandhu","aniketh",True,"manoj","varhan")
batch_4 = (32,)
batch_5 = ("sri","vardhan","vinith",22222,"prakash","raju")
abc = ("kight",)
print(names + Bikes)
print(mixed_tuple1 + mixed_tuple2)
print(batch_1 + batch_2)
print(batch_3 + batch_4)
print(batch_5 + abc)
print(names + abc)
print(mixed_tuple1 + batch_5)
print(mixed_tuple2 + batch_4)
print(batch_1 + batch_2 + batch_3)
print(names + Bikes + batch_1 + batch_2 + batch_3)

('koushik', 'lokesh', 'vamsi', 'sheshidhar', 'saiteja', 'ktm', 'suzuki', 'honda', 'shine')
('banana', 2.32, 'bikes', 453, True, False, 'apple', 2.45)
('vasu', 'kittu', 'pranay', 'lokesh', 'shiva', 'kavya', 'khyathi', 11.32, 'bhavana', 'bhavya', 'kaal')
('gopal', 'chandhu', 'aniketh', True, 'manoj', 'varhan', 32)
('sri', 'vardhan', 'vinith', 22222, 'prakash', 'raju', 'kight')
('koushik', 'lokesh', 'vamsi', 'sheshidhar', 'saiteja', 'kight')
('banana', 2.32, 'bikes', 453, 'sri', 'vardhan', 'vinith', 22222, 'prakash', 'raju')
(True, False, 'apple', 2.45, 32)
('vasu', 'kittu', 'pranay', 'lokesh', 'shiva', 'kavya', 'khyathi', 11.32, 'bhavana', 'bhavya', 'kaal', 'gopal', 'chandhu', 'aniketh', True, 'manoj', 'varhan')
('koushik', 'lokesh', 'vamsi', 'sheshidhar', 'saiteja', 'ktm', 'suzuki', 'honda', 'shine', 'vasu', 'kittu', 'pranay', 'lokesh', 'shiva', 'kavya', 'khyathi', 11.32, 'bhavana', 'bhavya', 'kaal', 'gopal', 'chandhu', 'aniketh', True, 'manoj', 'varhan')

In [92]:
#2) Repetition
names = ("koushik","lokesh","vamsi","sheshidhar","saiteja")
Bikes = ("ktm","suzuki","honda","shine")
mixed_tuple1 = ("banana",2.32,"bikes",453)
mixed_tuple2 = (True , False , "apple" , 2.45)
batch_1 = ("vasu","kittu","pranay","lokesh","shiva")
batch_2 = ("kavya","khyathi",11.32,"bhavana","bhavya","kaal")
batch_3 = ("gopal","chandhu","aniketh",True,"manoj","varhan")
batch_4 = (32,)
batch_5 = ("sri","vardhan","vinith",22222,"prakash","raju")
abc = ("kight",)
print(names * 2)
print(Bikes *3)
print((batch_3 + batch_4) * 4)
print((batch_5 + abc) * 3)
print((batch_1 + batch_2 + batch_3) * 2)
print((names + Bikes + batch_1 + batch_2 + batch_3) * 3)
print((names + Bikes) * 1)
print((mixed_tuple1 + mixed_tuple2) * 3)
print(batch_4 * 2)
print(batch_2 * 3)

('koushik', 'lokesh', 'vamsi', 'sheshidhar', 'saiteja', 'koushik', 'lokesh', 'vamsi', 'sheshidhar', 'saiteja')
('ktm', 'suzuki', 'honda', 'shine', 'ktm', 'suzuki', 'honda', 'shine', 'ktm', 'suzuki', 'honda', 'shine')
('gopal', 'chandhu', 'aniketh', True, 'manoj', 'varhan', 32, 'gopal', 'chandhu', 'aniketh', True, 'manoj', 'varhan', 32, 'gopal', 'chandhu', 'aniketh', True, 'manoj', 'varhan', 32, 'gopal', 'chandhu', 'aniketh', True, 'manoj', 'varhan', 32)
('sri', 'vardhan', 'vinith', 22222, 'prakash', 'raju', 'kight', 'sri', 'vardhan', 'vinith', 22222, 'prakash', 'raju', 'kight', 'sri', 'vardhan', 'vinith', 22222, 'prakash', 'raju', 'kight')
('vasu', 'kittu', 'pranay', 'lokesh', 'shiva', 'kavya', 'khyathi', 11.32, 'bhavana', 'bhavya', 'kaal', 'gopal', 'chandhu', 'aniketh', True, 'manoj', 'varhan', 'vasu', 'kittu', 'pranay', 'lokesh', 'shiva', 'kavya', 'khyathi', 11.32, 'bhavana', 'bhavya', 'kaal', 'gopal', 'chandhu', 'aniketh', True, 'manoj', 'varhan')
('koushik', 'lokesh', 'vamsi', 'sheshidhar', 'saiteja', 'ktm', 'suzuki', 'honda', 'shine', 'vasu', 'kittu', 'pranay', 'lokesh', 'shiva', 'kavya', 'khyathi', 11.32, 'bhavana', 'bhavya', 'kaal', 'gopal', 'chandhu', 'aniketh', True, 'manoj', 'varhan', 'koushik', 'lokesh', 'vamsi', 'sheshidhar', 'saiteja', 'ktm', 'suzuki', 'honda', 'shine', 'vasu', 'kittu', 'pranay', 'lokesh', 'shiva', 'kavya', 'khyathi', 11.32, 'bhavana', 'bhavya', 'kaal', 'gopal', 'chandhu', 'aniketh', True, 'manoj', 'varhan', 'koushik', 'lokesh', 'vamsi', 'sheshidhar', 'saiteja', 'ktm', 'suzuki', 'honda', 'shine', 'vasu', 'kittu', 'pranay', 'lokesh', 'shiva', 'kavya', 'khyathi', 11.32, 'bhavana', 'bhavya', 'kaal', 'gopal', 'chandhu', 'aniketh', True, 'manoj', 'varhan')
('koushik', 'lokesh', 'vamsi', 'sheshidhar', 'saiteja', 'ktm', 'suzuki', 'honda', 'shine')
('banana', 2.32, 'bikes', 453, True, False, 'apple', 2.45, 'banana', 2.32, 'bikes', 453, True, False, 'apple', 2.45, 'banana', 2.32, 'bikes', 453, True, False, 'apple', 2.45)
(32, 32)
('kavya', 'khyathi', 11.32, 'bhavana', 'bhavya', 'kaal', 'kavya', 'khyathi', 11.32, 'bhavana', 'bhavya', 'kaal', 'kavya', 'khyathi', 11.32, 'bhavana', 'bhavya', 'kaal')

In [126]:
#Types of Methods
#1) count()
names = ("koushik","lokesh","vamsi","lokesh","lokesh","lokesh","lokesh","sheshidhar","saiteja")
Bikes = ("ktm","suzuki","honda","shine","honda","honda","honda","honda","honda")
mixed_tuple1 = ("banana",2.32,"bikes",453,2.32,2.32,2.32,2.32)
mixed_tuple2 = (True , False , "apple" , 2.45, "apple", "apple", "apple", "apple")
batch_1 = ("vasu","kittu","pranay","kittu","kittu","kittu","lokesh","shiva","kittu","kittu","kittu")
batch_2 = ("kavya","khyathi",11.32,"bhavana","khyathi","khyathi","khyathi","bhavya","kaal","khyathi","khyathi")
batch_3 = ("gopal","chandhu","aniketh",True,"manoj","varhan",True,True,True)
batch_4 = (32,)
batch_5 = ("sri","vardhan","vinith",22222,"prakash","raju")
abc = ("kigght",)
print(names.count("lokesh"))
print(Bikes.count("honda"))
print(mixed_tuple1.count("2.32"))
print(mixed_tuple2.count("apple"))
print(batch_1.count("kittu"))
print(batch_2.count("khyathi"))
print(batch_3.count("True"))
print(batch_4.count(32))
print(batch_5.count("vinith"))
print(abc.count("abc"))

#2) index()
names = ("koushik","lokesh","vamsi","lokesh","lokesh","lokesh","lokesh","sheshidhar","saiteja")
Bikes = ("ktm","suzuki","honda","shine","honda","honda","honda","honda","honda")
mixed_tuple1 = ("banana",2.32,"bikes",453,2.32,2.32,2.32,2.32)
mixed_tuple2 = (True , False , "apple" , 2.45, "apple", "apple", "apple", "apple")
batch_1 = ("vasu","kittu","pranay","kittu","kittu","kittu","lokesh","shiva","kittu","kittu","kittu")
batch_2 = ("kavya","khyathi",11.32,"bhavana","khyathi","khyathi","khyathi","bhavya","kaal","khyathi","khyathi")
batch_3 = ("gopal","chandhu","aniketh",True,"manoj","varhan",True,True,True)
batch_4 = (32,)
batch_5 = ("sri","vardhan","vinith",22222,"prakash","raju")
abc = ("kigght","g")
print(names.index("vamsi"))
print(Bikes.index("honda"))
print(mixed_tuple1.index("banana"))
print(mixed_tuple2.index(2.45))
print(batch_1.index("shiva"))
print(batch_2.index(11.32))
print(batch_3.index("gopal"))
print(batch_4.index(32))
print(batch_5.index(22222))
print(abc.index("g"))

5
6
0
5
7
6
0
1
1
0
2
2
0
3
7
2
0
0
3
1

In [136]:
#3) len()
names = ("koushik","lokesh","vamsi","lokesh","lokesh","lokesh","lokesh","sheshidhar","saiteja")
print(len(names))

Bikes = ("ktm","suzuki","honda","shine","honda","honda","honda","honda","honda")
print(len(Bikes))

batch_1 = ("vasu","kittu","pranay","kittu","kittu","kittu","lokesh","shiva","kittu","kittu","kittu")
print(len(batch_1))

batch_2 = ("kavya","khyathi",11.32,"bhavana","khyathi","khyathi","khyathi","bhavya","kaal","khyathi")
print(len(batch_2))

9
9
11
10

In [148]:
#4) checking (in)
batch_1 = ("vasu","kittu","pranay","kittu","kittu","kittu","lokesh","shiva","kittu","kittu","kittu")
print("kittu" in batch_1)
print("kavya" in batch_1)


batch_2 = ("kavya","khyathi",11.32,"bhavana","khyathi","khyathi","khyathi","bhavya","kaal","khyathi","khyathi")
print("pranay" not in batch_2)
print("kavya" not in batch_2)

True
False
True
False

In [162]:
#5) delete (del)
names = ("koushik","lokesh","vamsi","lokesh","lokesh","lokesh","lokesh","sheshidhar","saiteja")
del names

Bikes = ("ktm","suzuki","honda","shine","honda","honda","honda","honda","honda")
del Bikes