In [1]:
#empty dict
empty_dict = {}
empty_dict

{}

In [5]:
#mixed_dict
student = {"name" : "pranay","age" : 22,"CGPA" : 7.5}
student

{'name': 'pranay', 'age': 22, 'CGPA': 7.5}

In [19]:
#Accessing values
student = {"name" : "pranay","age" : 22,"CGPA" : 7.5}
vechicles = {"KTM" : "Duke","pulsar" : "NS160","suzuki" : "ninja"}
marks = {"kishore" : 98,"ramesh" : 23,"raju" : 95,"manju" : 99}
Heros = {"kalki" : "prabhas","chalo" : "ashwin","pushpa" : "alluarjun","temper" : "NTR"}
college_places = {"vaagdevi" : "warangal","narayana" : "hyderabad","shivani" : "hanamkonda"}
about = {"brand": "Ford","model": "Mustang","year": 1964}
car = {"brand": "BMW","electric": False,"year": 1964,"colors": ["red", "white", "blue"]}
location = {"kittu" : "chinthal","pranay" : "hitech","vasu" : "durgam","gopal" : "warangal"}
batches = {"batch1" : ["ramu","bheemu","gopal"],
           "batch2" : ["kavya","bhavana","khyathi"],
           "batch3" : ["vamsi","shashanka","divya"]}
hostel = {"room1" : "available","room2" : "not available","room3" : "not specified"}

#1) Modify
student["age"] = 21
print(student)
vechicles["pulsar"] = "NS200"
print(vechicles)
marks["ramesh"] = 75
print(marks)
Heros["temper"] = "tharak"
print(Heros)
college_places["shivani"] = "bheemaram"
print(college_places)
about["year"] = 1970
print(about)
car["electric"] = "True"
print(car)
location["vasu"] = "karimnagar"
print(location)
batches["batch1"] = ["koushik","sai","sunny"]
print(batches)
hostel["room3"] = "available"
print(hostel)

{'name': 'pranay', 'age': 21, 'CGPA': 7.5}
{'KTM': 'Duke', 'pulsar': 'NS200', 'suzuki': 'ninja'}
{'kishore': 98, 'ramesh': 75, 'raju': 95, 'manju': 99}
{'kalki': 'prabhas', 'chalo': 'ashwin', 'pushpa': 'alluarjun', 'temper': 'tharak'}
{'vaagdevi': 'warangal', 'narayana': 'hyderabad', 'shivani': 'bheemaram'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1970}
{'brand': 'BMW', 'electric': 'True', 'year': 1964, 'colors': ['red', 'white', 'blue']}
{'kittu': 'chinthal', 'pranay': 'hitech', 'vasu': 'karimnagar', 'gopal': 'warangal'}
{'batch1': ['koushik', 'sai', 'sunny'], 'batch2': ['kavya', 'bhavana', 'khyathi'], 'batch3': ['vamsi', 'shashanka', 'divya']}
{'room1': 'available', 'room2': 'not available', 'room3': 'available'}

In [23]:
#2) Adding new entry
student = {"name" : "pranay","age" : 22,"CGPA" : 7.5}
vechicles = {"KTM" : "Duke","pulsar" : "NS160","suzuki" : "ninja"}
marks = {"kishore" : 98,"ramesh" : 23,"raju" : 95,"manju" : 99}
Heros = {"kalki" : "prabhas","chalo" : "ashwin","pushpa" : "alluarjun","temper" : "NTR"}
college_places = {"vaagdevi" : "warangal","narayana" : "hyderabad","shivani" : "hanamkonda"}
about = {"brand": "Ford","model": "Mustang","year": 1964}
car = {"brand": "BMW","electric": False,"year": 1964,"colors": ["red", "white", "blue"]}
location = {"kittu" : "chinthal","pranay" : "hitech","vasu" : "durgam","gopal" : "warangal"}
batches = {"batch1" : ["ramu","bheemu","gopal"],
           "batch2" : ["kavya","bhavana","khyathi"],
           "batch3" : ["vamsi","shashanka","divya"]}
hostel = {"room1" : "available","room2" : "not available","room3" : "not specified"}
student["grades"] = [12,43,12]
print(student)
vechicles["cc"] = 1000
print(vechicles)
marks["lokesh"] = 100
print(marks)
Heros["spider"] = "mahesh"
print(Heros)
college_places["vasavi"] = "kukatpally"
print(college_places)
about["cc"] = 1250
print(about)
car["speed"] = "300kmph"
print(car)
location["aniketh"] = "uppal"
print(location)
batches["batch4"] = ["abc","bcd","cde"]
print(batches)
hostel["room4"] = "not available"
print(hostel)

{'name': 'pranay', 'age': 22, 'CGPA': 7.5, 'grades': [12, 43, 12]}
{'KTM': 'Duke', 'pulsar': 'NS160', 'suzuki': 'ninja', 'cc': 1000}
{'kishore': 98, 'ramesh': 23, 'raju': 95, 'manju': 99, 'lokesh': 100}
{'kalki': 'prabhas', 'chalo': 'ashwin', 'pushpa': 'alluarjun', 'temper': 'NTR', 'spider': 'mahesh'}
{'vaagdevi': 'warangal', 'narayana': 'hyderabad', 'shivani': 'hanamkonda', 'vasavi': 'kukatpally'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'cc': 1250}
{'brand': 'BMW', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue'], 'speed': '300kmph'}
{'kittu': 'chinthal', 'pranay': 'hitech', 'vasu': 'durgam', 'gopal': 'warangal', 'aniketh': 'uppal'}
{'batch1': ['ramu', 'bheemu', 'gopal'], 'batch2': ['kavya', 'bhavana', 'khyathi'], 'batch3': ['vamsi', 'shashanka', 'divya'], 'batch4': ['abc', 'bcd', 'cde']}
{'room1': 'available', 'room2': 'not available', 'room3': 'not specified', 'room4': 'not available'}

In [136]:
#Dictionaries Methods
student = {"name" : "pranay","age" : 22,"CGPA" : 7.5}
vechicles = {"KTM" : "Duke","pulsar" : "NS160","suzuki" : "ninja"}
marks = {"kishore" : 98,"ramesh" : 23,"raju" : 95,"manju" : 99}
Heros = {"kalki" : "prabhas","chalo" : "ashwin","pushpa" : "alluarjun","temper" : "NTR"}
college_places = {"vaagdevi" : "warangal","narayana" : "hyderabad","shivani" : "hanamkonda"}
about = {"brand": "Ford","model": "Mustang","year": 1964}
car = {"brand": "BMW","electric": False,"year": 1964,"colors": ["red", "white", "blue"]}
location = {"kittu" : "chinthal","pranay" : "hitech","vasu" : "durgam","gopal" : "warangal"}
batches = {"batch1" : ["ramu","bheemu","gopal"],
           "batch2" : ["kavya","bhavana","khyathi"],
           "batch3" : ["vamsi","shashanka","divya"]}
hostel = {"room1" : "available","room2" : "not available","room3" : "not specified"}

#1) get()
print(student.get("CGPA"))
print(vechicles.get("suzuki"))
print(marks.get("raju","no value"))
print(Heros.get("kalki"))
print(college_places.get("vaagdevi"))
print(about.get("percentage","not specified"))
print(car.get("brand"))
print(location.get("vasu"))
print(batches.get("abc","no value"))
print(hostel.get("room5"))

7.5
ninja
95
prabhas
warangal
not specified
BMW
durgam
no value
None

In [50]:
#2) keys() displays all the keys
student = {"name" : "pranay","age" : 22,"CGPA" : 7.5}
vechicles = {"KTM" : "Duke","pulsar" : "NS160","suzuki" : "ninja"}
marks = {"kishore" : 98,"ramesh" : 23,"raju" : 95,"manju" : 99}
Heros = {"kalki" : "prabhas","chalo" : "ashwin","pushpa" : "alluarjun","temper" : "NTR"}
college_places = {"vaagdevi" : "warangal","narayana" : "hyderabad","shivani" : "hanamkonda"}
about = {"brand": "Ford","model": "Mustang","year": 1964}
car = {"brand": "BMW","electric": False,"year": 1964,"colors": ["red", "white", "blue"]}
location = {"kittu" : "chinthal","pranay" : "hitech","vasu" : "durgam","gopal" : "warangal"}
batches = {"batch1" : ["ramu","bheemu","gopal"],
           "batch2" : ["kavya","bhavana","khyathi"],
           "batch3" : ["vamsi","shashanka","divya"]}
hostel = {"room1" : "available","room2" : "not available","room3" : "not specified"}

print(student.keys())
print(vechicles.keys())
print(marks.keys())
print(Heros.keys())
print(college_places.keys())
print(about.keys())
print(car.keys())
print(location.keys())
print(batches.keys())
print(hostel.keys())

dict_keys(['name', 'age', 'CGPA'])
dict_keys(['KTM', 'pulsar', 'suzuki'])
dict_keys(['kishore', 'ramesh', 'raju', 'manju'])
dict_keys(['kalki', 'chalo', 'pushpa', 'temper'])
dict_keys(['vaagdevi', 'narayana', 'shivani'])
dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'electric', 'year', 'colors'])
dict_keys(['kittu', 'pranay', 'vasu', 'gopal'])
dict_keys(['batch1', 'batch2', 'batch3'])
dict_keys(['room1', 'room2', 'room3'])

In [56]:
#3) values() displays all the values
student = {"name" : "pranay","age" : 22,"CGPA" : 7.5}
vechicles = {"KTM" : "Duke","pulsar" : "NS160","suzuki" : "ninja"}
marks = {"kishore" : 98,"ramesh" : 23,"raju" : 95,"manju" : 99}
Heros = {"kalki" : "prabhas","chalo" : "ashwin","pushpa" : "alluarjun","temper" : "NTR"}
college_places = {"vaagdevi" : "warangal","narayana" : "hyderabad","shivani" : "hanamkonda"}
about = {"brand": "Ford","model": "Mustang","year": 1964}
car = {"brand": "BMW","electric": False,"year": 1964,"colors": ["red", "white", "blue"]}
location = {"kittu" : "chinthal","pranay" : "hitech","vasu" : "durgam","gopal" : "warangal"}
batches = {"batch1" : ["ramu","bheemu","gopal"],
           "batch2" : ["kavya","bhavana","khyathi"],
           "batch3" : ["vamsi","shashanka","divya"]}
hostel = {"room1" : "available","room2" : "not available","room3" : "not specified"}

print(student.values())
print(vechicles.values())
print(marks.values())
print(Heros.values())
print(college_places.values())
print(about.values())
print(car.values())
print(location.values())
print(batches.values())
print(hostel.values())

dict_values(['pranay', 22, 7.5])
dict_values(['Duke', 'NS160', 'ninja'])
dict_values([98, 23, 95, 99])
dict_values(['prabhas', 'ashwin', 'alluarjun', 'NTR'])
dict_values(['warangal', 'hyderabad', 'hanamkonda'])
dict_values(['Ford', 'Mustang', 1964])
dict_values(['BMW', False, 1964, ['red', 'white', 'blue']])
dict_values(['chinthal', 'hitech', 'durgam', 'warangal'])
dict_values([['ramu', 'bheemu', 'gopal'], ['kavya', 'bhavana', 'khyathi'], ['vamsi', 'shashanka', 'divya']])
dict_values(['available', 'not available', 'not specified'])

In [64]:
#4) items() displays both th keys and values
student = {"name" : "pranay","age" : 22,"CGPA" : 7.5}
vechicles = {"KTM" : "Duke","pulsar" : "NS160","suzuki" : "ninja"}
marks = {"kishore" : 98,"ramesh" : 23,"raju" : 95,"manju" : 99}
Heros = {"kalki" : "prabhas","chalo" : "ashwin","pushpa" : "alluarjun","temper" : "NTR"}
college_places = {"vaagdevi" : "warangal","narayana" : "hyderabad","shivani" : "hanamkonda"}
about = {"brand": "Ford","model": "Mustang","year": 1964}
car = {"brand": "BMW","electric": False,"year": 1964,"colors": ["red", "white", "blue"]}
location = {"kittu" : "chinthal","pranay" : "hitech","vasu" : "durgam","gopal" : "warangal"}
batches = {"batch1" : ["ramu","bheemu","gopal"],
           "batch2" : ["kavya","bhavana","khyathi"],
           "batch3" : ["vamsi","shashanka","divya"]}
hostel = {"room1" : "available","room2" : "not available","room3" : "not specified"}

print(student.items())
print(vechicles.items())
print(marks.items())
print(Heros.items())
print(college_places.items())
print(about.items())
print(car.items())
print(location.items())
print(batches.items())
print(hostel.items())

dict_items([('name', 'pranay'), ('age', 22), ('CGPA', 7.5)])
dict_items([('KTM', 'Duke'), ('pulsar', 'NS160'), ('suzuki', 'ninja')])
dict_items([('kishore', 98), ('ramesh', 23), ('raju', 95), ('manju', 99)])
dict_items([('kalki', 'prabhas'), ('chalo', 'ashwin'), ('pushpa', 'alluarjun'), ('temper', 'NTR')])
dict_items([('vaagdevi', 'warangal'), ('narayana', 'hyderabad'), ('shivani', 'hanamkonda')])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'BMW'), ('electric', False), ('year', 1964), ('colors', ['red', 'white', 'blue'])])
dict_items([('kittu', 'chinthal'), ('pranay', 'hitech'), ('vasu', 'durgam'), ('gopal', 'warangal')])
dict_items([('batch1', ['ramu', 'bheemu', 'gopal']), ('batch2', ['kavya', 'bhavana', 'khyathi']), ('batch3', ['vamsi', 'shashanka', 'divya'])])
dict_items([('room1', 'available'), ('room2', 'not available'), ('room3', 'not specified')])

In [70]:
#5) pop() display the poped key value
student = {"name" : "pranay","age" : 22,"CGPA" : 7.5}
vechicles = {"KTM" : "Duke","pulsar" : "NS160","suzuki" : "ninja"}
marks = {"kishore" : 98,"ramesh" : 23,"raju" : 95,"manju" : 99}
Heros = {"kalki" : "prabhas","chalo" : "ashwin","pushpa" : "alluarjun","temper" : "NTR"}
college_places = {"vaagdevi" : "warangal","narayana" : "hyderabad","shivani" : "hanamkonda"}
about = {"brand": "Ford","model": "Mustang","year": 1964}
car = {"brand": "BMW","electric": False,"year": 1964,"colors": ["red", "white", "blue"]}
location = {"kittu" : "chinthal","pranay" : "hitech","vasu" : "durgam","gopal" : "warangal"}
batches = {"batch1" : ["ramu","bheemu","gopal"],
           "batch2" : ["kavya","bhavana","khyathi"],
           "batch3" : ["vamsi","shashanka","divya"]}
hostel = {"room1" : "available","room2" : "not available","room3" : "not specified"}

print(student.pop("age"))
print(vechicles.pop("KTM"))
print(marks.pop("ramesh"))
print(Heros.pop("pushpa"))
print(college_places.pop("vaagdevi"))
print(about.pop("model"))
print(car.pop("colors"))
print(location.pop("gopal"))
print(batches.pop("batch3"))
print(hostel.pop("room3"))

22
Duke
23
alluarjun
warangal
Mustang
['red', 'white', 'blue']
warangal
['vamsi', 'shashanka', 'divya']
not specified

In [76]:
#6) popitem() displays the last key and value
student = {"name" : "pranay","age" : 22,"CGPA" : 7.5}
vechicles = {"KTM" : "Duke","pulsar" : "NS160","suzuki" : "ninja"}
marks = {"kishore" : 98,"ramesh" : 23,"raju" : 95,"manju" : 99}
Heros = {"kalki" : "prabhas","chalo" : "ashwin","pushpa" : "alluarjun","temper" : "NTR"}
college_places = {"vaagdevi" : "warangal","narayana" : "hyderabad","shivani" : "hanamkonda"}
about = {"brand": "Ford","model": "Mustang","year": 1964}
car = {"brand": "BMW","electric": False,"year": 1964,"colors": ["red", "white", "blue"]}
location = {"kittu" : "chinthal","pranay" : "hitech","vasu" : "durgam","gopal" : "warangal"}
batches = {"batch1" : ["ramu","bheemu","gopal"],
           "batch2" : ["kavya","bhavana","khyathi"],
           "batch3" : ["vamsi","shashanka","divya"]}
hostel = {"room1" : "available","room2" : "not available","room3" : "not specified"}

print(student.popitem())
print(vechicles.popitem())
print(marks.popitem())
print(Heros.popitem())
print(college_places.popitem())
print(about.popitem())
print(car.popitem())
print(location.popitem())
print(batches.popitem())
print(hostel.popitem())

('CGPA', 7.5)
('suzuki', 'ninja')
('manju', 99)
('temper', 'NTR')
('shivani', 'hanamkonda')
('year', 1964)
('colors', ['red', 'white', 'blue'])
('gopal', 'warangal')
('batch3', ['vamsi', 'shashanka', 'divya'])
('room3', 'not specified')

In [130]:
#7) update()
student = {"name" : "pranay","age" : 22,"CGPA" : 7.5}
vechicles = {"KTM" : "Duke","pulsar" : "NS160","suzuki" : "ninja"}
marks = {"kishore" : 98,"ramesh" : 23,"raju" : 95,"manju" : 99}
Heros = {"kalki" : "prabhas","chalo" : "ashwin","pushpa" : "alluarjun","temper" : "NTR"}
college_places = {"vaagdevi" : "warangal","narayana" : "hyderabad","shivani" : "hanamkonda"}
about = {"brand": "Ford","model": "Mustang","year": 1964}
car = {"brand": "BMW","electric": False,"year": 1964,"colors": ["red", "white", "blue"]}
location = {"kittu" : "chinthal","pranay" : "hitech","vasu" : "durgam","gopal" : "warangal"}
batches = {"batch1" : ["ramu","bheemu","gopal"],
           "batch2" : ["kavya","bhavana","khyathi"],
           "batch3" : ["vamsi","shashanka","divya"]}
hostel = {"room1" : "available","room2" : "not available","room3" : "not specified"}

new_student = {"CGPA" : 8.0}
student.update(new_student)
print(student)
new_vechicles = {"RC" : "390","duke" : 200,"suzuki" : "kawasaki"}
vechicles.update(new_vechicles)
print(vechicles)
new_marks = {"shashi" : 74,"vasu" : 93}
marks.update(new_marks)
print(marks)
new_heros = {"shirish" : "abcd","bala" : "akanda"}
Heros.update(new_heros)
print(Heros)
new_colleges = {"SR" : "padmakshi","saketha" : "ambala"}
college_places.update(new_colleges)
print(college_places)
new_about = {"cost" : "33crores"}
about.update(new_about)
print(about)
new_car= {"place" : "dubai"}
car.update(new_car)
print(car)
new_location = {"mohan" : "mumbai","kishore" : "dubai"}
location.update(new_location)
print(location)
new_batch = {"batch4" : ["abc","bcd","cde"]}
batches.update(new_batch)
print(batches)
new_hostel = {"room4" : "available","room5" : "not available"}
hostel.update(new_hostel)
print(hostel)

{'name': 'pranay', 'age': 22, 'CGPA': 8.0}
{'KTM': 'Duke', 'pulsar': 'NS160', 'suzuki': 'kawasaki', 'RC': '390', 'duke': 200}
{'kishore': 98, 'ramesh': 23, 'raju': 95, 'manju': 99, 'shashi': 74, 'vasu': 93}
{'kalki': 'prabhas', 'chalo': 'ashwin', 'pushpa': 'alluarjun', 'temper': 'NTR', 'shirish': 'abcd', 'bala': 'akanda'}
{'vaagdevi': 'warangal', 'narayana': 'hyderabad', 'shivani': 'hanamkonda', 'SR': 'padmakshi', 'saketha': 'ambala'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'cost': '33crores'}
{'brand': 'BMW', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue'], 'place': 'dubai'}
{'kittu': 'chinthal', 'pranay': 'hitech', 'vasu': 'durgam', 'gopal': 'warangal', 'mohan': 'mumbai', 'kishore': 'dubai'}
{'batch1': ['ramu', 'bheemu', 'gopal'], 'batch2': ['kavya', 'bhavana', 'khyathi'], 'batch3': ['vamsi', 'shashanka', 'divya'], 'batch4': ['abc', 'bcd', 'cde']}
{'room1': 'available', 'room2': 'not available', 'room3': 'not specified', 'room4': 'available', 'room5': 'not available'}

In [138]:
#8) delete
student = {"name" : "pranay","age" : 22,"CGPA" : 7.5}
del student["CGPA"]
print(student)

vechicles = {"KTM" : "Duke","pulsar" : "NS160","suzuki" : "ninja"}
del vechicles["pulsar"]
print(vechicles)

{'name': 'pranay', 'age': 22}
{'KTM': 'Duke', 'suzuki': 'ninja'}

In [144]:
#9) clear()
marks = {"kishore" : 98,"ramesh" : 23,"raju" : 95,"manju" : 99}
marks.clear()
print(marks)

Heros = {"kalki" : "prabhas","chalo" : "ashwin","pushpa" : "alluarjun","temper" : "NTR"}
Heros.clear()
print(Heros)

{}
{}

In [152]:
#10) copy()
college_places = {"vaagdevi" : "warangal","narayana" : "hyderabad","shivani" : "hanamkonda"}
new_college = college_places.copy()
print(new_college)

about = {"brand": "Ford","model": "Mustang","year": 1964}
new_about = about.copy()
print(new_about)

#11) Using dict() we can also copy
college_places = {"vaagdevi" : "warangal","narayana" : "hyderabad","shivani" : "hanamkonda"}
new_college = dict(college_places)
print(new_college)

about = {"brand": "Ford","model": "Mustang","year": 1964}
new_about = dict(about)
print(new_about)

{'vaagdevi': 'warangal', 'narayana': 'hyderabad', 'shivani': 'hanamkonda'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'vaagdevi': 'warangal', 'narayana': 'hyderabad', 'shivani': 'hanamkonda'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [154]:
#11) fromkeys() Create a dictionary with 3 keys, all with the value 20:
marks = {"rahul","suresh","ramesh"}
values = 20
marks_values = dict.fromkeys(marks,values)
print(marks_values)

{'rahul': 20, 'ramesh': 20, 'suresh': 20}

In [162]:
#12) setdefault() The setdefault() method returns the value of the item with the specified key.
##If the key does not exist, insert the key, with the specified value
car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.setdefault("model", "Bronco")
print(x)

car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.setdefault("color", "white")
print(x)

Mustang
white