In [5]:
#empty set
empty_set = set()
empty_set

set()

In [9]:
#creating set()
Bikes = {"KTM","pulsar","honda","splender","pulsar"}
print(Bikes)

{'splender', 'pulsar', 'KTM', 'honda'}

In [25]:
#Adding single item to a set()
Bikes = {"KTM","pulsar","honda","splender","pulsar"}
marks = {12 , 23 , 32 , 12 , 23 , 54 , 65 , 7 , 65 , 54}
friends = {"kittu","pranay","lokesh","vasundhar","pranay","kittu"}
CGPA = {7.4 , 6.9 , 9.8 , 6.3 , 8.4 , 9.8 , 7.4}
cities = {"warangal","kazipet","hyderabad","karimnagar","warangal","hyderabad"}
companies = {"google","tech mahindra","HCL","accenture","HCL","google"}
grades = {12 , 23 , 65 , 78 , 45 , 23 , 78 , 65}

Bikes.add("NS200")
print(Bikes)
marks.add(100)
print(marks)
friends.add("chandhu")
print(friends)
CGPA.add(8.9)
print(CGPA)
cities.add("parkal")
print(cities)
companies.add("google")
print(companies)
grades.add(90)
print(grades)

{'KTM', 'splender', 'NS200', 'pulsar', 'honda'}
{32, 65, 23, 100, 54, 7, 12}
{'kittu', 'pranay', 'vasundhar', 'chandhu', 'lokesh'}
{8.9, 6.3, 7.4, 8.4, 9.8, 6.9}
{'warangal', 'parkal', 'hyderabad', 'karimnagar', 'kazipet'}
{'tech mahindra', 'HCL', 'accenture', 'google'}
{65, 23, 90, 12, 45, 78}

In [49]:
#2) Update (sets,tuple,list)
Bikes = {"KTM","pulsar","honda","splender","pulsar"}
marks = {12 , 23 , 32 , 12 , 23 , 54 , 65 , 7 , 65 , 54}
friends = {"kittu","pranay","lokesh","vasundhar","pranay","kittu"}
CGPA = {7.4 , 6.9 , 9.8 , 6.3 , 8.4 , 9.8 , 7.4}
cities = {"warangal","kazipet","hyderabad","karimnagar","warangal","hyderabad"}
companies = {"google","tech mahindra","HCL","accenture","HCL","google"}

new_bikes = {"duke","hero","pulsar"}
updated_bikes = Bikes.update(new_bikes)
print(Bikes)
new_marks = {32 , 54 ,987 , 985}
updated_marks = marks.update(new_marks)
print(marks)
new_friends = {"gopal","vishnu","manoj"}
updated_friends = friends.update(new_friends)
print(friends)
new_CGPA = {6.3 , 5.3 , 9.4}
updated_CGPA = CGPA.update(new_CGPA)
print(CGPA)
new_cities = {"kolkata","mumbai","maharastra"}
updated_cities = cities.update(new_cities)
print(cities)
new_companies = {"factset","HCL","hundai"}
updated_companies = companies.update(new_companies)
print(companies)

{'pulsar', 'KTM', 'hero', 'splender', 'duke', 'honda'}
{32, 65, 7, 12, 54, 23, 985, 987}
{'vishnu', 'gopal', 'lokesh', 'kittu', 'manoj', 'pranay', 'vasundhar'}
{5.3, 6.3, 7.4, 8.4, 9.8, 6.9, 9.4}
{'maharastra', 'hyderabad', 'mumbai', 'kolkata', 'warangal', 'karimnagar', 'kazipet'}
{'hundai', 'HCL', 'factset', 'google', 'tech mahindra', 'accenture'}

In [57]:
#3) Discard or Remove
Bikes = {"KTM","pulsar","honda","splender","pulsar"}
marks = {12 , 23 , 32 , 12 , 23 , 54 , 65 , 7 , 65 , 54}
friends = {"kittu","pranay","lokesh","vasundhar","pranay","kittu"}
CGPA = {7.4 , 6.9 , 9.8 , 6.3 , 8.4 , 9.8 , 7.4}
cities = {"warangal","kazipet","hyderabad","karimnagar","warangal","hyderabad"}

removed_Bikes = Bikes.remove("pulsar")
print(Bikes)
removed_marks = marks.remove(12)
print(marks)
discarded_friend = friends.discard("pranay")
print(friends)
discarded_CGPA = CGPA.discard(7.4)
print(CGPA)
removed_cities = cities.remove("karimnagar")
print(cities)

{'splender', 'KTM', 'honda'}
{32, 65, 23, 54, 7}
{'vasundhar', 'kittu', 'lokesh'}
{6.3, 8.4, 9.8, 6.9}
{'warangal', 'hyderabad', 'kazipet'}

In [65]:
#4) clear()
Bikes = {"KTM","pulsar","honda","splender","pulsar"}
Bikes.clear()
print(Bikes)

marks = {12 , 23 , 32 , 12 , 23 , 54 , 65 , 7 , 65 , 54}
marks.clear()
print(marks)

set()
set()

In [69]:
#5) copy()
friends = {"kittu","pranay","lokesh","vasundhar","pranay","kittu"}
batch = friends.copy()
print(batch)

CGPA = {7.4 , 6.9 , 9.8 , 6.3 , 8.4 , 9.8 , 7.4}
qualify = CGPA.copy()
print(qualify)

{'vasundhar', 'kittu', 'pranay', 'lokesh'}
{6.3, 7.4, 8.4, 9.8, 6.9}

In [83]:
#6) pop() 
#removes the random value in the set()
marks = {23 , 32 , 12 , 54 , 65 , 7}
marks.pop()
print(marks)

friends = {"kittu","lokesh","vasundhar","pranay"}
friends.pop()
print("remaining elements:",friends)

{65, 23, 54, 7, 12}
remaining elements: {'kittu', 'pranay', 'lokesh'}

In [141]:
#7) issuperset()
#The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it returns False.
set1 = {1 , 2 , 3 , 4 , 5 , 6 , 7}
set2 = {3 , 4 , 5}
result = set1.issuperset(set2)
print(result)
result = set2 >= set1
print(result)

True
False

In [145]:
#8) issubset()
#The issubset() method returns True if all items in the set exists in the specified set, otherwise it returns False.
set1 = {1 , 2 , 3 , 4 , 5 , 6 , 7}
set2 = {3 , 4 , 5}
results = set1.issubset(set2)
print(results)
results = set2 <= set1
print(results)

False
True

In [149]:
#9) isdisjoint()
##The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.
set1 = {1,2,3,4,5,6,7,8}
set2 = {6,7,8,9,10,11,12}
set3 = {"kittu","pranay","lokesh","vasundhar","lokesh"}
result = set1.isdisjoint(set3)
print(result)
result = set1.isdisjoint(set2)
print(result)

True
False

In [93]:
#python set operators
#1) Union, include all set1 and set2, no duplicate values
set1 = {1,2,3,4,5,6,7,8}
set2 = {6,7,8,9,10,11,12}
set3 = {"kittu","pranay","lokesh","vasundhar","lokesh"}
set4 = {"kishore","pranay","kittu","manoj","prem"}
set5 = {"kishore","pranay",6,7,15,"vasundhar","yadhav"}

print("union of set1 and set2:",set1 | set2)
print("union of set1 and set2:",set1.union(set2))
print("union of set3 and set4:",set3 | set4)
print("union of set3 and set5:",set3 | set5)
print("union of set2 and set5:",set2.union(set5))
print("union of set2 and set4:",set2.union(set4))

union of set1 and set2: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
union of set1 and set2: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
union of set3 and set4: {'kishore', 'kittu', 'pranay', 'vasundhar', 'lokesh', 'prem', 'manoj'}
union of set3 and set5: {'kishore', 6, 7, 'kittu', 'pranay', 'vasundhar', 15, 'yadhav', 'lokesh'}
union of set2 and set5: {'kishore', 6, 7, 8, 9, 10, 11, 12, 'pranay', 'vasundhar', 15, 'yadhav'}
union of set2 and set4: {'kishore', 6, 7, 8, 9, 10, 11, 12, 'kittu', 'pranay', 'prem', 'manoj'}

In [103]:
#2) Intersection, includes only common elements, no duplicate elements
set1 = {1,2,3,4,5,6,7,8}
set2 = {6,7,8,9,10,11,12}
set3 = {"kittu","pranay","lokesh","vasundhar","lokesh"}
set4 = {"kishore","pranay","kittu","manoj","prem"}
set5 = {"kishore","pranay",6,7,15,"vasundhar","yadhav"}

print("intersection of set1 and set2:",set1 & set2)
print("intersection of set2 and set3:",set2.intersection(set3))
print("intersection of set3 and set4:",set3 & set4)
print("intersection of set4 and set5:",set4.intersection(set5))
print("intersection of set2 and set5:",set2 & set5)

intersection of set1 and set2: {8, 6, 7}
intersection of set2 and set3: set()
intersection of set3 and set4: {'kittu', 'pranay'}
intersection of set4 and set5: {'kishore', 'pranay'}
intersection of set2 and set5: {6, 7}

In [117]:
#3) Difference between two sets()
#removes B from A if A-B , removes A from B if B-A and displays remaining elements
set1 = {1,2,3,4,5,6,7,8}
set2 = {6,7,8,9,10,11,12}
set3 = {"kittu","pranay","lokesh","vasundhar","lokesh"}
set4 = {"kishore","pranay","kittu","manoj","prem"}
set5 = {"kishore","pranay",6,7,15,"vasundhar","yadhav"}

print("difference b/w set1 and set2:",set1 - set2)
print("difference b/w set2 and set3:",set2 - set3)
print("difference b/w set3 and set4:",set3.difference(set4))
print("difference b/w set4 and set3:",set4 - set3)
print("difference b/w set5 and set2:",set5.difference(set2))
print("difference b/w set4 and set5:",set4.difference(set5))

difference b/w set1 and set2: {1, 2, 3, 4, 5}
difference b/w set2 and set3: {6, 7, 8, 9, 10, 11, 12}
difference b/w set3 and set4: {'lokesh', 'vasundhar'}
difference b/w set4 and set3: {'prem', 'kishore', 'manoj'}
difference b/w set5 and set2: {'kishore', 'pranay', 15, 'vasundhar', 'yadhav'}
difference b/w set4 and set5: {'kittu', 'prem', 'manoj'}

In [133]:
#4) set symmetric difference
#removes common elements and displays remaining
set1 = {1,2,3,4,5,6,7,8}
set2 = {6,7,8,9,10,11,12}
set3 = {"kittu","pranay","lokesh","vasundhar","lokesh"}
set4 = {"kishore","pranay","kittu","manoj","prem"}
set5 = {"kishore","pranay",6,7,15,"vasundhar","yadhav"}

print("Symmetric Difference b/w set1 and set2:",set1 ^ set2) 
print("Symmetric Difference b/w set3 and set4:",set3 ^ set4)
print("Symmetric Difference b/w set4 and set5:",set4.symmetric_difference(set5))
print("Symmetric Difference b/w set3 and set5:",set3.symmetric_difference(set5))
print("Symmetric Difference b/w set5 and set1:",set5 ^ set1)

Symmetric Difference b/w set1 and set2: {1, 2, 3, 4, 5, 9, 10, 11, 12}
Symmetric Difference b/w set3 and set4: {'kishore', 'lokesh', 'prem', 'manoj', 'vasundhar'}
Symmetric Difference b/w set4 and set5: {6, 7, 'vasundhar', 15, 'yadhav', 'prem', 'kittu', 'manoj'}
Symmetric Difference b/w set3 and set5: {'kishore', 6, 7, 'kittu', 15, 'yadhav', 'lokesh'}
Symmetric Difference b/w set5 and set1: {1, 2, 3, 4, 5, 8, 'kishore', 'pranay', 'vasundhar', 15, 'yadhav'}